#for vscode personal customisation
.vscode
.vs/

#for working with NodeJS
node_modules/   
logs
*.log

# for mac systems
.DS_Store
.DS_store

#Rejected stuff
scripts/team-cards.js
.App\ promotional\ website
team_copy.html
css/team_style.css